{% extends 'base.html' %}

{% block lead  %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="../static/css/login.css" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>movie_login</title>
    </head>
    <body>
        <header class="welcome-header">
            <h1 class="welcome-header__title">Welcome to Moive recommend web site</h1>
            <p class="welcome-header__text">토렌토에서 평점이 높은 영화를 소개하는 웹사이트 입니다.</p>
            <p class="welcome-header__text">로그인을 하시면 더 다양한 서비스를 이용하실 수 있습니다.</p>
        </header>

        <form action="movie" method="get" id="login-form">
            <input type="text" placeholder="Email or phone number">
            <input type="password" placeholder="Password">
            <input type="submit" value="Log In"/>
            <input type="submit" value="Sign Up"/>
        </form>
    </body>
</html>
{% endblock  %}